/* ***** Resets ***** */

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    max-width: 100vw;
    min-height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: var(--main-bg-color);
}

ul, ol, li, a {
    text-decoration: none;
    list-style: none;
}

/* ***** Root Var ***** */

:root {

    /* Colors */
    
    --main-color-solid: rgb(43, 49, 83);
    --main-color-semisolid: rgb(43, 49, 83, 0.75);
    --main-color-medium: rgb(43, 49, 83, .5);
    --main-color-ligh: rgb(43, 49, 83, .25);

    --secondary-color-solid: rgb(236, 233, 233) ;
    --secondary-color-semisolid: rgb(236, 233, 233, .75);
    --secondary-color-medium: rgb(236, 233, 233, .5);
    --secondary-color-ligh: rgb(236, 233, 233, .25);

    --tertiary-color-solid: rgb(248, 148, 40);
    --tertiary-color-semisolid: rgb(248, 148, 40, .75);
    --tertiary-color-medium: rgb(248, 148, 40, .5);
    --tertiary-color-ligh: rgb(248, 148, 40, .25);

    --main-bg-color: rgba(155, 155, 155, 0.137)   ;
    --secondary-bg-color: ;

    --link-color : ;

    --main-hover-color: ;
    --secondary-hover-color: ;

    /* Fonts */
    
    --main-font: ;
    --secondary-font: ;

    --high-font-size: ;
    --medium-font-size: ;
    --low-font-size: ;

    /* Spacing */

    --xlg-spacing: ;
    --lg-spacing: ;
    --md-spacing: ;
    --sm-spacing: ;
    --xsm-spacing: ;

}

/* Custom Styles */


/* Navbar */

.navbar {
    background-color: var(--main-color-solid) !important;
}

.navbar-brand {
    color: var(--tertiary-color-solid) !important;
}

.navbar-brand:hover a {
    text-shadow: 0 0 3px var(--tertiary-color-solid) !important;
}

/* Dopdown Menu */

.dropdown-menu {
    background-color: var(--main-color-semisolid);
    color: var(--main-bg-color) !important;
}

.dropdown-item {
    color: black;
}

/* Hero Section */

.bg__hero-img {
    background-image: url(../ASSETS/img/trabajador-techador-ropa-trabajo-protectora-especial-guantes-usando-pistola-neumatica-e-instalando-tejas-concreto-parte-superior-nuevo-techo-concepto-edificio-residencial-construccion\ \(1\).jpg); 
    background-position: center  center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.bg__hero-img::before{
    content: '';
    width: 100vw;
    height: 100%;
    background-color: rgba(250, 235, 215, 0.172);
    backdrop-filter: blur(2px) brightness(.9);
    position: absolute;
    
}

.bg__hero-img li {
    transition: all .3s ease-in-out;
}
.bg__hero-img li:hover {
    font-weight: bold;
    color: var(--tertiary-color-solid);
    text-shadow: 0 0 1px var(--tertiary-color-medium);
}


/* Carees Section */

#carees img{
    width: 10%;
}

.worker__atributtes img {
    transform: scale(1.8);
}

.big-text__careers {
    background-color: var(--tertiary-color-solid);
}

.worker__skills article img {
    display: inline-block;
    padding: 1rem;
    border-radius: 100px;
    background-color: var(--tertiary-color-solid);
}


/* Footer */

footer  {
    background-color: var(--main-color-solid);
}

footer img {
    width: 22%;
}

#footer__nav a:hover {
    transition: color .3s ease-in-out;
    color: var(--secondary-color-medium) !important;
}


/* Media Querys */
@media (max-width: 576px) {
    #carees img{
        width: 17%;
    }
  }