/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* ***** Resets ***** */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: var(--main-bg-color);
}

ul,
ol,
li,
a {
  text-decoration: none;
  list-style: none;
}

h1,h2,h3,h4,h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600 !important;
}



/* ***** Root Var ***** */

:root {
  /* Colors */

  --main-color-solid: rgb(43, 49, 83);
  --main-color-semisolid: rgb(43, 49, 83, 0.75);
  --main-color-medium: rgb(43, 49, 83, 0.5);
  --main-color-ligh: rgb(43, 49, 83, 0.25);

  --secondary-color-solid: rgb(236, 233, 233);
  --secondary-color-semisolid: rgb(236, 233, 233, 0.75);
  --secondary-color-medium: rgb(236, 233, 233, 0.5);
  --secondary-color-ligh: rgb(236, 233, 233, 0.25);

  --tertiary-color-solid: #f89428;
  --tertiary-color-semisolid: #f89428bf;
  --tertiary-color-medium: #f8942880;
  --tertiary-color-ligh: #f8942840;

  --main-bg-color: #9b9b9b23;
  --secondary-bg-color: ;

  --link-color: ;

  --main-hover-color: ;
  --secondary-hover-color: ;

  /* Fonts */

  --main-font: ;
  --secondary-font: ;

  --high-font-size: ;
  --medium-font-size: ;
  --low-font-size: ;

  /* Spacing */

  --xlg-spacing: ;
  --lg-spacing: 7rem;
  --md-spacing: ;
  --sm-spacing: ;
  --xsm-spacing: ;
}

/* Custom Styles */

.borderTertiary {
  border-bottom: solid 10px var(--tertiary-color-solid) !important;
}

/* Navbar */

/* .navbar {
    background-color: var(--main-color-solid) !important;
} */

#dropdown__item:hover {
  -webkit-transition: color 0.3s ease-in-out v;
  -o-transition: color 0.3s ease-in-out v;
  transition: color 0.3s ease-in-out v;
  color: var(--main-color-solid) !important;
  background: var(--tertiary-color-solid);
}
.navbar-brand {
  color: var(--tertiary-color-solid) !important;
}

.navbar-brand:hover {
  text-shadow: 0 0 3px var(--tertiary-color-solid) !important;
}

.nav-link {
  color: antiquewhite;
}
/* Dopdown Menu */

/* .dropdown-menu {
    background-color: var(--main-color-semisolid);
    color: var(--main-bg-color) !important;
} */

.dropdown-item {
  color: black;
}

/* Hero Section */

.bg__hero-img {
  /* background-color: var(--main-bg-color); */
  height: 100vh;
}

.glass-bg {
  background-color: rgba(219, 217, 217, 0.337);
  backdrop-filter: blur(5px) brightness(.65);
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}



/* .bg__hero-img::before {
  content: "";
  width: 100vw;
  height: 100%;
  background-color: rgba(250, 235, 215, 0.172);
  -webkit-backdrop-filter: blur(2px) brightness(0.9);
  backdrop-filter: blur(2px) brightness(0.9);
  position: absolute;
} */

.bg__hero-img li {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.bg__hero-img li:hover {
  font-weight: bold;
  color: var(--tertiary-color-solid);
  text-shadow: 0 0 1px var(--tertiary-color-medium);
}

.bg__hero-img img {
  width: 20%;
}

.intro {
  background-color: var(--tertiary-color-medium);
  backdrop-filter: blur(5px) brightness(0.8);
  -webkit-box-shadow: 49px 26px 52px -4px rgbargba(45, 45, 45, 0.394);
  -moz-box-shadow: 49px 26px 52px -4px rgba(45, 45, 45, 0.394);
  box-shadow: 49px 26px 52px -4px rgba(45, 45, 45, 0.394);
}

.main-cover {
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1082%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(248%2c 148%2c 40%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c447.56C84.623%2c450.703%2c107.314%2c322.297%2c172.028%2c267.681C225.204%2c222.803%2c311.628%2c218.686%2c344.107%2c157.148C376.814%2c95.179%2c349.729%2c20.504%2c339.036%2c-48.746C328.454%2c-117.274%2c324.428%2c-189.52%2c282.096%2c-244.438C238.666%2c-300.781%2c173.274%2c-338.114%2c103.888%2c-353.809C36.782%2c-368.988%2c-29.129%2c-341.76%2c-96.948%2c-330.175C-174.869%2c-316.864%2c-261.497%2c-329.158%2c-323.97%2c-280.722C-390.339%2c-229.266%2c-441.697%2c-147.386%2c-441.027%2c-63.41C-440.37%2c18.898%2c-374.567%2c84.279%2c-320.56%2c146.395C-278.001%2c195.344%2c-211.282%2c210.788%2c-164.008%2c255.201C-101.327%2c314.089%2c-85.945%2c444.368%2c0%2c447.56' fill='%23f7860c'%3e%3c/path%3e%3cpath d='M1440 1026.021C1528.72 1033.8029999999999 1615.833 998.328 1690.354 949.558 1764.476 901.049 1814.686 828.002 1859.413 751.539 1908.495 667.6320000000001 1974.5259999999998 581.344 1962.141 484.928 1949.726 388.28 1866.776 318.351 1795.2640000000001 252.16199999999998 1729.94 191.7 1656.35 137.62599999999998 1568.912 120.96600000000001 1485.643 105.10000000000002 1402.993 133.608 1323.2 162.21699999999998 1247.452 189.375 1173.085 222.257 1119.345 282.151 1065.049 342.664 1037.663 420.223 1020.415 499.673 1002.119 583.95 979.7860000000001 675.3820000000001 1017.0989999999999 753.1320000000001 1054.247 830.539 1144.222 861.431 1216.365 907.983 1288.655 954.63 1354.295 1018.504 1440 1026.021' fill='%23f9a244'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1082'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */
  background-image: url(../ASSETS/img/BackgroundConcrete.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

/* About US */
 .bg-tertiary {
  background-color: var(--tertiary-color-solid);
 }
/* .bgAboutA {
  
} */
/* Carees Section */

#carees img {
  max-width: 100%;
}

.worker__atributtes img {
  -webkit-transform: scale(1.8);
  -ms-transform: scale(1.8);
  transform: scale(1.8);
}

.big-text__careers {
  background-color: var(--tertiary-color-solid);
}

.worker__skills article img {
  display: inline-block;
  padding: 1rem;
  border-radius: 100px;
  background-color: var(--tertiary-color-solid);
}

/* Services */

/* #services {
    background-image: url(../ASSETS/img/Gradient_blob_2.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
} */
#services img {
  width: 70%;
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--tertiary-color-ligh);
  margin: var(--md-spacing);
  border-radius: 50%;
}
#services img {
  border-radius: 15px 0 50px 0;
}

#services-container article {
  margin-bottom: var(--lg-spacing);
}




/* FAQ */

#faq {
  background-image: url(../ASSETS/img/BackgroundConcrete.jpeg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  min-height: 100%;
  width: auto;
}

/* Footer */

footer {
  background-color: rgb(27, 26, 26);
  color: white !important;
}

form input, select{
  background-color: rgb(223, 220, 220)!important;
}

footer input:hover {
  -webkit-box-shadow: 0 0 5px 1px var(--tertiary-color-semisolid);
  box-shadow: 0 0 5px 1px var(--tertiary-color-semisolid);
}

footer select:hover {
  -webkit-box-shadow: 0 0 5px 1px var(--tertiary-color-semisolid);
  box-shadow: 0 0 5px 1px var(--tertiary-color-semisolid);
}

footer img {
  width: 22%;
}

.footer__nav-item:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: var(--tertiary-color-solid) !important;
}

footer a {
  color: antiquewhite;
}
footer strong {
  color: rgb(99, 99, 227);
}

footer small strong:hover {
  transition: all .3s ease-in-out;
  color: rgb(108, 108, 255);
  text-shadow: 0 0 2px rgb(102, 102, 252);
}

#socialMedia i:hover {
  transition: all .3s ease-in-out;

  color: var(--tertiary-color-solid);
  text-shadow: 0 0 2px var(--tertiary-color-solid);
}

#footer_letsConnect {
  color: var(--tertiary-color-solid);
}

#footer_letsConnect:hover {
  text-shadow: 0 0 2px var(--tertiary-color-solid);
}
/* Media Querys */
@media (max-width: 576px) {
  #carees img {
    width: 17%;
  }

  /* .bg__hero-img {
    background-color: var(--main-bg-color);
    height: 100vh;
    max-width: 100vw;
  } */

  .bg__hero-img img {
    width: 40%;
  }
  .intro {
    border-radius: 0 0 0 0 !important;
  }
}
